.Calculator_root{
    width: 275px;
    height: 460px;
    display: flex;
    flex-direction: column;
    background-color: teal;
    opacity: 40%;
    border-radius: 5px;
}

.Calculator_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Calculator_row.margin{
    margin: 10px;
}
.Calculator_row.margin-bottom-20{
    margin-bottom: 20px;
}

.Calculator_row.gap{
    gap: 5px;
}

.Calculator_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Calculator_column.gap{
    gap: 5px;
}

.Calculator_button{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(85,107,47);
    display: flex;
    align-items: center;
}

.Calculator_text{
    color: black;
    flex: 1;
    text-align: center;
    font-size: 26px;
}

.Calculator_screen{
    width: 250px;
    height: 100px;
    background-color: rgb(85,107,47);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    
}

.Calculator_screenText{
    font-size: 46px;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    text-wrap: nowrap;
}